<!DOCTYPE html>
{% load static %} <!-- static 파일을 사용하겠다는 선언 -->
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        
        <title>{% block head_title %}Blog Home{% endblock %}</title>
        
        <link rel="stylesheet" href="{% static 'blog/bootstrap/bootstrap.min.css'  %}" media="screen"> <!-- 부트스트랩 파일 링크. 원래 수정하라고 요구받았는데, 기존 텍스트 없어 내가 수정. -->
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link rel="stylesheet" href="{% static 'blog/css/styles.css' %}">
        <script src="https://kit.fontawesome.com/704ec76331.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <!-- Responsive navbar-->
         {% include 'blog/navbar.html' %}
        
        <!-- Page content-->
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mt-4" id="main-area">
                    {% block main_area %}
                    {% endblock %}
                </div>


                <!-- Side widgets-->
                <div class="col-lg-4">
                    <!-- Search widget-->
                    <div class="card mb-4">
                        <div class="card-header">Search</div>
                        <div class="card-body">
                            <div class="input-group">
                                <input class="form-control" type="text" placeholder="Enter search term..." aria-label="Enter search term..." aria-describedby="button-search" />
                                <button class="btn btn-primary" id="button-search" type="button">Go!</button>
                            </div>
                        </div>
                    </div>
                    <!-- Categories widget-->
                    <div class="card mb-4" id="categories-widget">
                        <div class="card-header">Categories</div>
                        <div class="card-body">
                            <div class="row">
                                <ul class="list-unstyled mb-0">
                                    {% for category in categories %}
                                    <li><a href="{{category.get_absolute_url}}">{{category}} ({{category.post_set.count}})</a></li>
                                    {% endfor %}
                                    <li><a href="/blog/category/no_category/">미분류 ({{no_category_post_count}})</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- Side widget-->
                    <div class="card mb-4">
                        <div class="card-header">Side Widget</div>
                        <div class="card-body">You can put anything you want inside of these side widgets. They are easy to use, and feature the Bootstrap 5 card component!</div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Footer-->
        {% include 'blog/footer.html' %}
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="{% static 'blog/js/scripts.js' %}"></script>
    </body>
</html>
