<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <!--이 내용은 navbar 입니다.-->
    <div class="container">
        <a class="navbar-brand" href="/"><i class="fa-solid fa-code"></i>  BLOG with Django</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mb-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link" href="/">Landing</a></li>
                <li class="nav-item"><a class="nav-link" href="/about_me/">AboutMe</a></li>
                <li class="nav-item"><a class="nav-link active" aria-current="page" href="/blog/">Blog</a></li>
            </ul>
            <ul class="navbar-nav ms-auto"></ul>
            <button class="btn btn-sm btn-outline-success" type="button">Login</button>
        </div>
        
    </div>
</nav>

<!-- 로그인, 로그아웃, 회원가입 등의 '모달' 항목도 여기에 작성해야 함. 나는 아직 없어서 안함. -->