{% extends 'blog/base_full_width.html' %} <!-- base.html을 확장해 이 html에 넣기. -->

{% block head_title %}Edit Post - Blog{% endblock %}




{% block main_area %}
<!--이 내용은 post_update_form입니다.-->
    <h1>포스트 수정하기</h1>
    <hr/>
    <form method="post" enctype="multipart/form-data">{% csrf_token %} <!--csrf토큰 : 웹사이트를 csrf공격으로부터 보호하기 위한 장고 제공 기능. 폼 사용시 필수로 쓸 것.-->
        <table>
            {{ form.as_table }}
            <tr>
                <th><label for="id_tags_str">Tags:</label></th>
                <td><input type="text" name="tags_str" id="id_tags_str" value="{{ tags_str_default }}"></td>
            </tr>
        </table>
        <button type="submit" class="btn btn-primary float-end">완료</button>
    </form>
{% endblock %}