{% extends 'blog/base_full_width.html' %} <!-- base.html을 확장해 이 html에 넣기. -->
{% load crispy_forms_tags %} <!--폼 모양 꾸미기용-->
{% block head_title %}Create Post - Blog{% endblock %}




{% block main_area %}
<!--이 내용은 post_form입니다.-->
<div class="my-5">
    <h1>새 포스트 작성하기</h1>
    <hr/>
    <form method="post" enctype="multipart/form-data" >{% csrf_token %} <!--csrf토큰 : 웹사이트를 csrf공격으로부터 보호하기 위한 장고 제공 기능. 폼 사용시 필수로 쓸 것.-->
        
        {{ form | crispy }}
        <div id = "div_id_tags_str">
            <label for="id_tags_str">Tags:</label>
            <input type="text" name="tags_str" id="id_tags_str" class="textinput textInput form-control">
        </div>
        <br/>
        <button type="submit" class="btn btn-primary float-end">완료</button>
        <br/>
    </form>
</div>
{% endblock %}