{% extends 'blog/base.html' %} <!-- base.html을 확장해 이 html에 넣기. -->
{% block main_area %}
    <!--이 내용은 post_list입니다.-->
    <!-- 포스트 작성 버튼-->
    {% if user.is_authenticated %}
        {% if user.is_superuser or user.is_staff %}
            <a class="btn btn-info btn-sm float-end" href="/blog/create_post/" role="button"><i class="fa-solid fa-pen"></i>New Post</a>
        {% endif %}
    {% endif %}


    <!-- 포스트 헤더 -->
    <h1>Blog
    {% if category %}
    <span class="badge rounded-pill text-bg-info">{{ category }}</span>
    {% elif tag %}
    <i class="fa-solid fa-tags"></i> <span class="badge text-bg-secondary">{{ tag }}</span>
    {% endif %}
    </h1>
    
    <!-- Featured blog post-->
    <!-- 포스트 리스트 -->

    <!--1번 포스트 카드-->
    {% if post_list %}
    <div class="card mb-4" id="post-{{post_list.0.pk}}">  <!-- 첫번째 포스트는별도로 가로 크기 조정 없이, 8 사이즈 전체에 걸쳐.-->
        {% if post_list.0.head_image %}
        <a href="#!"><img class="card-img-top" src="{{post_list.0.head_image.url }}" alt="{{post_list.0.title}} Header Image" /></a>
        <!-- alt = "..."의 경우, 이미지를 보일 수 없을 때, 대신 츨력할 텍스트이다.-->
        {% else %}
        <a href="#!"><img class="card-img-top" src="https://picsum.photos/seed/{{post_list.0.id}}/850/350/" alt="Random Image" /></a>
        {% endif %}
        <div class="card-body">
            {% if post_list.0.category %}
                <span class="badge rounded-pill text-bg-info float-end">{{post_list.0.category}}</span>  
            {% else %}
                <span class="badge rounded-pill text-bg-info float-end">미분류</span>  
            {% endif %}
            <h2 class="card-title">{{ post_list.0.title }}</h2>
            <div class="card-text">{{ post_list.0.get_content_markdown | safe }}</div>
            
            {% if post_list.0.tags.exists %}
                <i class="fa-solid fa-tags"></i>
                {% for tag in post_list.0.tags.iterator %}
                    <a href="{{ tag.get_absolute_url }}"><span class="badge text-bg-secondary">{{tag}}</span></a>
                {% endfor %}
                <br/>
                <br/>
            {% endif %}

            <a class="btn btn-primary" href="{{post_list.0.get_absolute_url}}">Read more →</a>
        </div>
        <div class="card-footer text-muted">
            Posted on {{ post_list.0.created_at }} by
            <a href="#" class="no-style">{{ post_list.0.author | upper }}</a>
        </div>
    </div>
    {% else %}
    <h3> 아직 작성된 포스트가 없습니다. </h3>
    {% endif %}
    <!-- Nested row for non-featured blog posts-->
    <div class="row"> 
        
        <!-- 그 이후 포스트(헤드이미지 유무로 분리) -->
        {% for p in post_list|slice:"1:" %} 
        <div class="col-lg-6">
            <!-- Blog post-->
            <div class="card mb-4" id="post-{{p.pk}}">
                {% if p.head_image %}
                <a href="#!"><img class="card-img-top" src="{{p.head_image.url }}" alt="{{p.title}} Head Image" /></a>
                
                <div class="card-body">
                    <div class="d-flex align-items-center">
                        <div class="small text-muted me-2">{{ p.created_at }}</div>
                        {% if p.category %}
                            <span class="badge rounded-pill text-bg-info">{{ p.category }}</span>
                        {% else %}
                            <span class="badge rounded-pill text-bg-info float-end">미분류</span>  
                        {% endif %}
                    </div>

                    <h2 class="card-title">{{ p.title }}</h2>
                    <div class="card-text">{{ p.get_content_markdown | truncatewords_html:15 | safe }}</div>
                    {% if p.tags.exists %}
                        <i class="fa-regular fa-tags" style="color: #74C0FC;"></i>
                        {% for tag in p.tags.iterator %}
                            <a href="{{ tag.get_absolute_url }}"><span class="badge text-bg-secondary">{{tag}}</span></a>
                        {% endfor %}
                        <br/>
                        <br/>
                    {% endif %}
                    <a class="btn btn-primary" href="{{p.get_absolute_url}}">Read more →</a>
                </div>
                <div class="card-footer text-muted">
                    Posted by
                    <a href="#" class="no-style">{{ p.author | upper }}</a>
                </div>
                {% else %} 
                <div class="card-body">
                    <div class="d-flex align-items-center">
                        <div class="small text-muted me-2">{{ p.created_at }}</div>
                        {% if p.category %}
                            <span class="badge rounded-pill text-bg-info">{{ p.category }}</span>
                        {% else %}
                            <span class="badge rounded-pill text-bg-info float-end">미분류</span>  
                        {% endif %}
                    </div>
                    <h2 class="card-title">{{ p.title }}</h2>
                    <p class="card-text">{{ p.get_content_markdown | truncatewords:50 | safe}}</p>
                    {% if p.tags.exists %}
                        <i class="fa-regular fa-tags" style="color: #74C0FC;"></i>
                        {% for tag in p.tags.iterator %}
                            <a href="{{ tag.get_absolute_url }}"><span class="badge text-bg-secondary">{{tag}}</span></a>
                        {% endfor %}
                        <br/>
                        <br/>
                    {% endif %}
                    <a class="btn btn-primary" href="{{p.get_absolute_url}}">Read more →</a>
                </div>
                <div class="card-footer text-muted">
                    Posted by
                    <a href="#" class="no-style">{{ p.author | upper }}</a>
                </div>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>

    <!-- Pagination-->
    {% if is_paginated %}
    <nav aria-label="Pagination">
        <hr class="my-0" />
        <ul class="pagination justify-content-center my-4">
            <!-- 가장 최신으로 -->
            {% if page_obj.has_previous %}
            <li class="page-item"><a class="page-link" href="?page=1" tabindex="-1" aria-disabled="true">&laquo;</a></li>
            {% else %}
            <li class="page-item disabled"><a class="page-link" href="#" tabindex="-1" aria-disabled="true">&laquo;</a></li>
            {% endif %}
            <!-- 숫자 버튼(슬라이딩 윈도우) -->
            {% for num in paginator.page_range %}

                {% if num >= page_obj.number|add:-2 and num <= page_obj.number|add:2 %}
                    {% if num == page_obj.number %}
                    <li class="page-item active" aria-current="page"><a class="page-link" href="#!">{{num}}</a></li>
                    {% else %}
                    <li class="page-item"><a class="page-link" href="?page={{num}}">{{num}}</a></li>
                    {% endif %}
                {% endif %}
            {% endfor %}
            <!-- 가장 오래된 페이지로 -->
            {% if page_obj.has_next%}
            <li class="page-item"><a class="page-link" href="?page={{page_obj.paginator.num_pages}}">&raquo;</a></li>
            {% else %}
            <li class="page-item disabled"><a class="page-link" href="#">&raquo;</a></li>
            {% endif %}
        </ul>
    </nav>
    {% endif %}


            
{% endblock %}