{% extends 'blog/base.html' %} <!-- base.html을 확장해 이 html에 넣기. -->
{% block main_area %}
    <!-- Blog entries-->
        <h1>Blog {% if category %} <span class="badge rounded-pill text-bg-info"> {{ category }} </span> {% endif %}</h1>

        <div class="col-lg-8"><!--포스트 목록은 전체 가로 12 중 8 크기.-->
            <!-- Featured blog post-->
            <!-- 포스트 리스트 -->
            {% if post_list %}
            <div class="card mb-4" id="post-{{post_list.0.pk}}">  <!-- 첫번째 포스트는별도로 가로 크기 조정 없이, 8 사이즈 전체에 걸쳐.-->
                {% if post_list.0.head_image %}
                <a href="#!"><img class="card-img-top" src="{{post_list.0.head_image.url }}" alt="{{post_list.0.title}} Header Image" /></a>
                <!-- alt = "..."의 경우, 이미지를 보일 수 없을 때, 대신 츨력할 텍스트이다.-->
                {% else %}
                <a href="#!"><img class="card-img-top" src="https://picsum.photos/seed/{{post_list.0.id}}/850/350/" alt="Random Image" /></a>
                {% endif %}
                <div class="card-body">
                    {% if post_list.0.category %}
                        <span class="badge rounded-pill text-bg-info float-end">{{post_list.0.category}}</span>  
                    {% else %}
                        <span class="badge rounded-pill text-bg-info float-end">미분류</span>  
                    {% endif %}
                    <h2 class="card-title">{{ post_list.0.title }}</h2>
                    <p class="card-text">{{ post_list.0.content }}</p>
                    <a class="btn btn-primary" href="{{post_list.0.get_absolute_url}}">Read more →</a>
                </div>
                <div class="card-footer text-muted">
                    Posted on {{ post_list.0.created_at }} by
                    <a href="#" class="no-style">{{ post_list.0.author | upper }}</a>
                </div>
            </div>
            {% else %}
            <h3> 아직 작성된 포스트가 없습니다. </h3>
            {% endif %}
            <!-- Nested row for non-featured blog posts-->
            <div class="row"> <!-- 그 이후 포스트 -->
                {% for p in post_list|slice:"1:" %} 
                <div class="col-lg-6">
                    <!-- Blog post-->
                    <div class="card mb-4" id="post-{{p.pk}}">
                        {% if p.head_image %}
                        <a href="#!"><img class="card-img-top" src="{{p.head_image.url }}" alt="{{p.title}} Head Image" /></a>
                        
                        <div class="card-body">
                            <div class="d-flex align-items-center">
                                <div class="small text-muted me-2">{{ p.created_at }}</div>
                                {% if p.category %}
                                    <span class="badge rounded-pill text-bg-info">{{ p.category }}</span>
                                {% else %}
                                    <span class="badge rounded-pill text-bg-info float-end">미분류</span>  
                                {% endif %}
                            </div>
    
                            <h2 class="card-title">{{ p.title }}</h2>
                            <p class="card-text">{{ p.content | truncatewords:15}}</p>
                            <a class="btn btn-primary" href="{{p.get_absolute_url}}">Read more →</a>
                        </div>
                        <div class="card-footer text-muted">
                            Posted by
                            <a href="#" class="no-style">{{ p.author | upper }}</a>
                        </div>
                        {% else %} 
                        <div class="card-body">
                            <div class="d-flex align-items-center">
                                <div class="small text-muted me-2">{{ p.created_at }}</div>
                                {% if p.category %}
                                    <span class="badge rounded-pill text-bg-info">{{ p.category }}</span>
                                {% else %}
                                    <span class="badge rounded-pill text-bg-info float-end">미분류</span>  
                                {% endif %}
                            </div>
                            <h2 class="card-title">{{ p.title }}</h2>
                            <p class="card-text">{{ p.content | truncatewords:50}}</p>
                            <a class="btn btn-primary" href="{{p.get_absolute_url}}">Read more →</a>
                        </div>
                        <div class="card-footer text-muted">
                            Posted by
                            <a href="#" class="no-style">{{ p.author | upper }}</a>
                        </div>
                        {% endif %}
                    </div>
                </div>
                {% endfor %}
            </div>

            <!-- Pagination-->
            <nav aria-label="Pagination">
                <hr class="my-0" />
                <ul class="pagination justify-content-center my-4">
                    <li class="page-item disabled"><a class="page-link" href="#" tabindex="-1" aria-disabled="true">Newer</a></li>
                    <li class="page-item active" aria-current="page"><a class="page-link" href="#!">1</a></li>
                    <li class="page-item"><a class="page-link" href="#!">2</a></li>
                    <li class="page-item"><a class="page-link" href="#!">3</a></li>
                    <li class="page-item disabled"><a class="page-link" href="#!">...</a></li>
                    <li class="page-item"><a class="page-link" href="#!">15</a></li>
                    <li class="page-item"><a class="page-link" href="#!">Older</a></li>
                </ul>
            </nav>
        </div>

            
{% endblock %}