<!DOCTYPE html>
{% load static %} <!-- static 파일을 사용하겠다는 선언 -->
<html lang="ko">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Blog Home</title>
    
    <link rel="stylesheet" href="{% static 'blog/bootstrap/bootstrap.min.css'  %}" media="screen"> <!-- 부트스트랩 파일 링크. 원래 수정하라고 요구받았는데, 기존 텍스트 없어 내가 수정. -->
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="css/styles.css" rel="stylesheet" />
    <title>about me</title>
</head>
<body>
        <!-- Responsive navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" href="#!">BLOG with Django</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link" href="/">Landing</a></li>
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="/about_me/">AboutMe</a></li>
                        <li class="nav-item"><a class="nav-link" href="/blog/">Blog</a></li>
                    </ul>
                </div>
            </div>
        </nav>

    <h1>개발자 고다영입니다.</h1>
    <h2>이력</h2>
    <h3>제주대학교 졸업(2025.8)</h3>
    <h2>활동</h2>
    <h3>TOPCIT 시험 참여(422/1000점)</h3>
    <h3>TOPCIT 시험 참여(550/1000점 -상위 30%)</h3>
    <h3>공무원연금공단 강의 및 견학 프로그램 참여</h3>
    <h3>정보처리기사 자격증 취득</h3>
    <h3>Django 블로그 만들기(교재 참고)</h3>
    
</body>
</html>