<!DOCTYPE html>
{% load static %} <!-- static 파일을 사용하겠다는 선언 -->
<html lang="ko">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Blog Home</title>
    
    <link rel="stylesheet" href="{% static 'blog/bootstrap/bootstrap.min.css'  %}" media="screen"> <!-- 부트스트랩 파일 링크. 원래 수정하라고 요구받았는데, 기존 텍스트 없어 내가 수정. -->
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="css/styles.css" rel="stylesheet" />
    <title>landing</title>
</head>
<body>

        <!-- Responsive navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" href="#!">BLOG with Django</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="/">Landing</a></li>
                        <li class="nav-item"><a class="nav-link" href="/about_me/">AboutMe</a></li>
                        <li class="nav-item"><a class="nav-link" href="/blog/">Blog</a></li>
                    </ul>
                </div>
            </div>
        </nav>

    <h1>고다영의 개인블로그</h1>
    <h2>대문페이지</h2>
    <h3>아직 만들지 않음.</h3>
</body>
</html>